/* Imports */
@import "v-tooltip/dist/v-tooltip.css";

/* Colour scheme */
$mariana: #06143d;
$deep: #192B5D;
$blue: #3960A1;
$grey-blue: #758296;
$light-grey-blue: #a1a6ad;
$white-blue: #c8cfdb;
$very-white-blue: #e6eeff;
$red: #a1394c;
$grey-red: #96757e;
$grey-tinted: #e8e8ee;

/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Layout */
$navbar-height: 60px;
$navbar-content-padding: 30px;

body {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	margin: 0; padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: $mariana;
	width: 100vw; height: 100vh;
	color: white;
	overflow: hidden;
	
	/* Anti-aliasing */
	/*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;*/
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
	box-sizing: border-box;

	&.center {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	&.nav {
		padding-top: #{$navbar-height + $navbar-content-padding};
		padding-bottom: $navbar-content-padding;
		overflow-y: auto;
	}
}

.container {
	margin: 0 auto;
	max-width: 960px;
	box-sizing: border-box;
	padding: 0px 20px;
}

/* Tooltips */
.v-popper--theme-panorama {
	z-index: 300;
	
	&.v-popper__popper--shown {
		backdrop-filter: blur(5px) saturate(150%);
		-webkit-backdrop-filter: blur(5px) saturate(150%);
		transition: opacity .3s;
		border-radius: 100px;
	}

	.v-popper__inner {
		border-radius: 100px; 
		padding: 8px 18px;
		font-size: 0.8em;
		color: $grey-blue;
		background-color: rgba(#fff, 0.6);
		box-shadow: 0px 2px 10px rgba(black, 0.1);
	}

	.v-popper__arrow {
		border-color: rgba(#fff, 0.6);
	}
	
	.v-popper__wrapper {
		margin-bottom: 5px;	
	}
}

/* Media queries */
$screen-sm-min: 576px;
$screen-lg-min: 992px;
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

.hide-small {
	@include sm {
		display: none !important;
	}
}

/* Text styles */
h1, h2, h3 {
	margin: 0; padding: 0;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 600;
}

h3 {
	font-size: 1.3em;
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.strong {
	font-weight: 600;
}

/* Transitions */
.zoom-enter-active, .zoom-leave-active {
	backface-visibility: hidden;
	transition: transform .7s, opacity .7s;
	transform-style: preserve-3d;
}

.zoom-leave-active.page.nav {
	transition: transform .7s, opacity .5s .2s;
	border-radius: 10px;
	box-shadow: 0px 22px 70px 4px rgba(black, .28), 0px 0px 0px 1px rgba(black, .1);
}

.zoom-enter {
	opacity: 0;
	transform: scale(1.2) translateZ(0) perspective(1px);
}

.zoom-enter-to, .zoom-leave {
	opacity: 1;
	transform: scale(1) translateZ(0) perspective(1px);
}

.zoom-leave-to {
	opacity: 0;
	transform: scale(0.8) translateZ(0) perspective(1px);
}

/* --- */
.credits-enter-active, .credits-leave-active {
	transition: bottom .5s, opacity .5s;
	transition-delay: .6s;
}

.credits-enter, .credits-leave-to {
	opacity: 0;
	bottom: -40px !important;
}

.credits-enter-to, .credits-leave {
	opacity: 1;
	bottom: 0;
}

/* --- */
.list-enter-active, .list-leave-active {
	transition: max-height .5s, opacity .5s;
	overflow: hidden;
}

.list-enter, .list-leave-to {
	opacity: 0;
	max-height: 0px;
}

.list-enter-to, .list-leave {
	max-height: 70px;
}

/* Backgrounds */
.background {
	width: 100vw;
	height: 100vh;
	top: 0; 
	position: absolute;
	pointer-events: none;
	z-index: 0;
}

/* Buttons */
button {
	/* Clear formatting */
	border: none;
	outline: none;
	background-color: transparent;
	
	&:not(.clean) {
		display: flex;
		align-items: center;
		padding: 12px 30px;
		color: white;
		background-color: $grey-blue;
		border-radius: 30px;
		font-size: 0.8em;
		border: 2px solid transparent;
		box-sizing: border-box;
		transition: border-color 0.3s, transform 0.3s, background-color 0.3s;

		&:not(:disabled) {
			&:hover, &:focus {
				border-color: rgba(white, .6);
			}
	
			&:active {
				transition: border-color 0.15s, transform 0.15s, background-color 0.15s;
				background-color: $deep;
				border-color: $blue;
				transform: scale(0.9);
			}
		}

		> svg {
			margin-right: 10px;
			font-size: 1.2em;
		}
	}

	&.primary:not(:disabled) {
		background-color: $blue;
	}
	
	&:not(:disabled) {
		cursor: pointer;
	}

	&.transparent {
		background-color: rgba(white, 0.2);

		&:not(:disabled) {
			&:hover, &:focus {
				border-color: rgba(white, 0.5);
			}
	
			&:active {
				background-color: rgba(black, 0.1);
				border-color: rgba($blue, 0.5);
			}
		}

		

		&.blur {
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
		}

		&:disabled {
			opacity: 0.5;
		}
	}
}

/* Utiltiies */
.no-select {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

/* Lists */
.list-item {
	box-sizing: border-box;
	border-top: 1px solid $grey-tinted;
	transition: background-color 0.3s;

	&.first {
		border-top: none !important;
	}

	&.clickable:hover {
		cursor: pointer;
		background-color: rgba($blue, .05);
	}

	&.margins {
		padding: 0px 30px;

		> *:not(:last-child) {
			margin-right: 30px;
		}
	}
}