/* Colour scheme */
$deep: #192B5D;
$blue: #3960A1;

/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Layout */
$navbar-height: 60px;
$navbar-content-padding: 20px;

body {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	margin: 0; padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: $deep;
	width: 100vw; height: 100vh;
	color: white;
	overflow: hidden;
	
	/* Anti-aliasing */
	/*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;*/
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
	box-sizing: border-box;

	&.center {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	&.nav {
		padding-top: #{$navbar-height + $navbar-content-padding};
	}
}

.container {
	margin: 0 auto;
	max-width: 960px;
	box-sizing: border-box;
	padding: 0px 20px;
}

/* Media queries */
$screen-sm-min: 576px;
$screen-lg-min: 992px;
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

/* Text styles */
h1 {
	font-weight: 400;
	margin: 0; padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/* Transitions */
.zoom-enter-active, .zoom-leave-active {
	backface-visibility: hidden;
	transition: transform .7s, opacity .7s;
	transform-style: preserve-3d;
}

.zoom-leave-active.page.nav {
	transition: transform .7s, opacity .5s .2s;
	border-radius: 10px;
	box-shadow: 0px 22px 70px 4px rgba(black, .28), 0px 0px 0px 1px rgba(black, .1);
}

.zoom-enter {
	opacity: 0;
	transform: scale(1.2) translateZ(0) perspective(1px);
}

.zoom-enter-to, .zoom-leave {
	opacity: 1;
	transform: scale(1) translateZ(0) perspective(1px);
}

.zoom-leave-to {
	opacity: 0;
	transform: scale(0.8) translateZ(0) perspective(1px);
}

/* --- */
.credits-enter-active, .credits-leave-active {
	transition: bottom 0.5s, opacity 0.5s;
	transition-delay: 0.6s;
}

.credits-enter, .credits-leave-to {
	opacity: 0;
	bottom: -40px !important;
}

.credits-enter-to, .credits-leave {
	opacity: 1;
	bottom: 0;
}

/* Backgrounds */
.background {
	width: 100vw;
	height: 100vh;
	position: absolute;
	pointer-events: none;
	z-index: 0;
}

/* Buttons */
button {
	border: none;
	padding: 12px 30px;
	color: white;
	background-color: $blue;
	border-radius: 30px;
	font-size: 0.8em;
	outline: none;
	
	&:not(:disabled) {
		cursor: pointer;
	}
	

	> svg {
		margin-right: 10px;
		font-size: 1.2em;
	}

	&.transparent {
		background-color: rgba(white, 0.2);
		border: 2px solid transparent;
		box-sizing: border-box;
		transition: border-color 0.3s, transform 0.3s, background-color 0.3s;
		
		&:not(:disabled) {
			&:hover, &:focus {
				border-color: rgba(white, 0.5);
			}
	
			&:active {
				transition: border-color 0.15s, transform 0.15s, background-color 0.15s;
				transform: scale(0.9);
				background-color: rgba(black, 0.1);
				border-color: rgba($blue, 0.5);
			}
		}

		&.blur {
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
		}

		&:disabled {
			opacity: 0.5;
		}
	}
}