[Unit]
Description=Panorama

[Service]
ExecStart=/usr/bin/nodejs /root/projects/panorama/live/dist/server/index.js
WorkingDirectory=/root/projects/panorama/live/
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=panorama

[Install]
WantedBy=multi-user.target